.about {
	overflow: visible;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1%;
	row-gap: 1%;
	grid-template-areas: "maleImg maleText";
	position: relative;
	min-height: 25vh;
}

.about > p:nth-child(3) {
	animation: slideFromRight 1000ms forwards;
}

.about > .section-title:nth-child(1) {
	left: 15vw;
}

.avatar {
	border-radius: 50%;
	object-fit: cover;
	max-width: 55%;
	align-self: center;
	justify-self: center;
	animation: fadeIn forwards 4000ms;
}

.about-text {
	padding: 10%;
	text-align: center;
	font-size: 1.6rem;
	box-shadow: 0px 0px 2px var(--colour-two);
}
